.service-card:hover {
    background-color: blue;
    color: white;
}

.service-card:hover .service-btn {
    background-color: blue;
    color: white;
    padding: 0, 30px;
    border: none;
}

.service-card:hover .service-btn {
    background-color: blue;
    color: white;
    padding: 0, 30px;
    border: none;
}

.service-card:hover .service-icon {
    color: white;
}

.service-card .service-icon {
    transition: 1s;
}

.service-card:hover .service-btn .service-btn-icon {
    background-color: blue;
    color: white;
}

.service-card .service-btn:hover {
    border: 0.5px solid white;

    padding-right: 20px;
}

.service-card {
    transition: 1s;
}

.service-btn .service-btn-icon {
    transition: 1s;

}

.service-card .service-btn:hover .service-btn-icon {
    margin-left: 20px;
}

.service-btn {
    transition: 1s;
}